html, body {
  margin: 0;
}

body {}

.background-image {
  z-index: 0;
  display: block;
  background-image: url('image/daisy.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  position:absolute;

}

.content {
  position: absolute;
  top:10vh;
  left: 0;
  right: 0;
  z-index: 1;
}


img {
  border-radius: 50%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


div {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#main {
  width: 100%;
  height: 90vh;
  background: linear-gradient(30deg, rgba(255, 0, 148, 0.65),rgba(0, 255, 230, 0.42),white);
}

#header {
  padding:2vw;
  position: absolute;
  height: 10vh;
  width:100%;
  background: rgb(186, 102, 136);
  z-index: 1;
}

h1 {
  font-size: 5vh;
  color:white;
  position: absolute;
  padding:4px;
  bottom:-2vh;
}

h2 {
  font-size: 4vh;
  color:white;
  position: absolute;
  padding:4px;
  bottom:-2vh;
}
#message{
  z-index: 1;
  display: block;
  background-image: url('image/loveroll.jpg');
  width: 100vw;
  height: 30vh;
  background-size: cover;
  position:absolute;
}
#btn_group {
  z-index : 999;
  bottom:0;
  width:100%;
  position:fixed;
}

.btn{
    background-color: rgba(255, 254, 254, 0.33);
    border: none;
    color: white;
    padding: 2.5vw 1vh;
    text-align: center;
    display: inline-block;
    font-size: 4.5vw;
    margin: 1vw;
    width:29vw;
    border-radius: 10vh;
}

#score {
  font-size: 3vh;
  color:white;
}

#scorebox {
  position: inherit;
  right: 1.3vw;
  top: 1.3vh;
  border: solid 2px white;
  width: 12vw;
  font-size: 2vh;
  text-align: center;
  border-radius: 5px;
  color:white;
}


.mole_container {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  margin: 2%;
  float: left;
  overflow: hidden;
  border-radius: 50%;
  border: 3px dashed rgb(255, 0, 135);

}

.hype {
  text-align:center;
  position:relative;
  font-size: 4vw;
  color: rgb(249, 249, 249);
}

.mole {
  display: block;
  position: absolute;
  bottom: 0%;
  margin-left: 10%;
  width: 80%;
}

.mole.visible {
  transition: bottom 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  bottom: -25%;
}

.mole.hidden {
  transition: bottom 0.3s cubic-bezier(0, 0, 0.2, 1);
  bottom: -100%;
}

.mole.dead {
  transition: bottom 0.2s linear;
  bottom: -100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.whack {
  position: absolute;
  bottom: 0.25vh;
  left: 5%;
  width: 90%;
  display: none;
}

.whack.visible {
  display: block;
}

@media all and (orientation:portrait) {
  .mole_container {
    /* 3x3 */
    width: 20vh;
    height: 20vh;
  }
}

@media all and (orientation:landscape) {
  .mole_container {
    /* 3x3 */
    width: 20vh;
    height: 20vh;
  }
}
