html, body {
  margin: 0;
}

body {}

img {
  border-radius: 50%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

div {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  /*text-decoration: none;*/
  color:white;
}

#background-image {
  display: block;
  background-image: url('image/daisy.jpg');
  width: 100vw;
  height: 200px;
  background-size: cover;
/*   position: fixed; */
}

#header {
  display: block;
  background: linear-gradient(30deg, rgba(255, 0, 148, 0.65), rgba(0, 255, 230, 0.42), white);
  width: 100vw;
  height: 200px;
  position: relative;
  overflow: hidden;
}

#btn_group {
  float: left;
}

.btn {
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  margin: 1vw;
  width: 20vw;
  border-radius: 10vh;
  border: solid 2px white;
  text-shadow: 2px 2px #388002;
  float: left;
  height: 7hv
}

#scorebox {
  float: right;
  width: 20vw;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px #388002;
  font-family: 'Lobster', cursive;
}

#score {
  font-size: 30px;
  color: rgb(170, 242, 9);
  font-weight: lighter;
  text-shadow: 1px 1px #388002;
}

#logo_message {
  position: relative;
  /*   height:25%; */
}

h1 {
  padding: 10px;
  font-size: 50px;
  text-shadow: 2px 3px #4e4e4e;
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
}

p {
  margin: -25;
  font-size: 20px;
  text-align: center;
  color: white;
}

#main {
/*   width: 100%; */
/*   height: 300%; */
/*   background: linear-gradient(30deg, rgba(255, 0, 148, 0.65), rgba(0, 255, 230, 0.42), white); */
  padding-top: 20px;
}

.content {
  top: 10vh;
  left: 0;
  right: 0;
  bottom: 10vh;

/*   z-index: 1; */
}

.mole_container {
  position: relative;
  background: rgba(134, 134, 134, 0.5);
  margin: 1%;
  float: left;
  overflow: hidden;
  border-radius: 50%;
  border: 3px dashed rgba(255, 255, 255, 0.64);
}

.hype {
  position: absolute;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  left: 0;
  top: 0;
  background-color: rgba(255, 0, 78, 0.58);
  width: 100%;
}

.mole {
  display: block;
  position: absolute;
  bottom: 0%;
  margin-left: 10%;
  width: 80%;
}

.mole.visible {
  transition: bottom 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  bottom: -25%;
}

.mole.hidden {
  transition: bottom 0.3s cubic-bezier(0, 0, 0.2, 1);
  bottom: -100%;
}

.mole.dead {
  transition: bottom 0.2s linear;
  bottom: -100%;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.whack {
  position: absolute;
  bottom: 0.25vh;
  left: 5%;
  width: 90%;
  display: none;
}

.whack.visible {
  display: block;
}

@media all and (orientation:portrait) {
  .mole_container {
    /* 3x3 */
    width: 30vw;
    height: 30vw;
  }
}

@media all and (orientation:landscape) {
  .mole_container {
    /* 3x3 */
    width: 30vh;
    height: 30vh;
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
